.creator-holder {
    margin: 30px 0px 30px 0px;
}

#submitter {
    padding: 4px;
    height: 30.8px;
    width: 30.8px;
    padding: 0px;
    margin: 0px 0px 1.5px 3px;
}

#task-input {
    padding: 5px;
}

#cross {
    font-size: 13px;
    margin: 0 auto;
}

#input-name {
    margin-bottom: 5px;
}

.error-holder {
    padding: 3px;
    margin: 5px 0px 0px 0px;
}