.task-container {
    border-radius: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.to-do-container {
    margin: 10px 0px 0px 5px;
}

.doing-container {
    margin: 10px 5px 5px 5px;
}

.done-container {
    margin: 10px 5px 0px 0px;
}

.example-box {
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}