.task-container {
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  padding: 0px;
  margin: 0px;
}

.task-box {
  margin: 0px;
  padding: 3px;
  border-bottom: 1px solid #dddddd;
}

.task-box:last-child {
  border: none;
}

#app-title {
    margin: 25px 0px 25px 0px;
}

#kanban-names {
    margin-bottom: 5px;
    font-size: 20px;
}